[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Flask = "*"
psycopg2-binary = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
server = "python hello.py"
